@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.btn-about {
    border: #d44aaa solid 2px;
    background: transparent;
    border-radius: 10px;
    color: #d44aaa;
    font-weight: 600;
}
.btn-about:hover {
    background-color: #ebbdc6;
    color: #d44aaa;
    font-weight: 600;
}
.text-brand {
    color: #d44aaa !important;
    /*background: -webkit-linear-gradient(to right, #dd5e89, #f7bb97);
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;*/
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
}

nav {
    background-color: transparent !important;
    margin-left: 3rem;
}

header {
    height: 100vh;
    width: 100%;
    background: #ebbdc6c9 /* #ebbdc6 #dede7c #a19ed9 #ebc578*/ url("Images/IceCream.png")
        no-repeat left center;
    background-size: 43%;
}

.nav-item {
    font-size: larger;
    font-weight: 600;
    margin-right: 20px;
}

nav a,
#footer a {
    color: #d44aaa !important;
}


header h1 {
    font-size: 5.5rem;
}

header h2 {
    font-size: 4rem;
}

header h1,
header h2 {
    font-family: "Noto Sans JP", sans-serif;

    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-header {
    border: #e73260 solid 2px;
    background: #e73260;
    border-radius: 10px;
    padding: 0.5rem;
    color: #ffffff;
    margin-top: 10px;
}

.button-header a {
    color: #ffffff;
    text-decoration: none;
}

.button-header:hover {
    background: #e73260ab;
    border: #e73260ab solid 2px;
}

.button-header:hover {
    color: #ffffff;
    text-decoration: none;
}

#products {
    height: 100vh;
}

h2 {
    color: #d44aaa;
    font-weight: 600;
}

.carousel-item img {
    height: 70vh;
}

#about,
#footer {
    background-color: #ebbdc6;
}

#about img {
    max-width: 100%;
}

#footer a {
    color: white;
}

@media (min-width: 1440px) {
    body {
        font-size: 1.5rem;
    }
    .text-brand {
        font-size: xx-large;
    }

    .nav-item {
        font-size: x-large;
    }

    header h1 {
        font-size: 6.5rem;
    }

    header h2 {
        font-size: 5rem;
    }
}

@media (max-width: 992px) {
    .header-text {
        align-items: flex-start !important;
    }

    font-size: 0.9rem;
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }

    header {
        background: #ebbdc6;
    }

    nav {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .carousel {
        display: none;
    }

    header h1 {
        font-size: 5rem;
    }

    header h2 {
        font-size: 3.9rem;
    }
}
